In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("User-Pairs-Books.data.csv")
df['first_User_ID'] = df['first_User_ID'].astype("int")
df['second_User_ID'] = df['second_User_ID'].astype("int")

In [3]:
df_100  = pd.read_csv("df_100.csv")

In [4]:
df_100

,User-ID,Age,ISBN,Book-Rating,AgeGroup,Book-Title,Book-Author
0,67544,30.0,2005018,8,Midle-Age (31-60),Clara Callan,Richard Bruce Wright
1,219008,60.0,2005018,7,Elderly (61-100),Clara Callan,Richard Bruce Wright
2,263325,27.0,2005018,6,Adult (19-30),Clara Callan,Richard Bruce Wright
3,2954,71.0,60973129,8,Elderly (61-100),Decision in Normandy,Carlo D'Este
4,152827,40.0,60973129,7,Midle-Age (31-60),Decision in Normandy,Carlo D'Este
...,...,...,...,...,...,...,...
95,111637,53.0,375759778,9,Midle-Age (31-60),Prague : A Novel,ARTHUR PHILLIPS
96,219008,60.0,375759778,7,Elderly (61-100),Prague : A Novel,ARTHUR PHILLIPS
97,235867,36.0,375759778,7,Midle-Age (31-60),Prague : A Novel,ARTHUR PHILLIPS
98,95703,31.0,425163091,9,Midle-Age (31-60),Chocolate Jesus,Stephan Jaramillo
99,101606,32.0,425163091,6,Midle-Age (31-60),Chocolate Jesus,Stephan Jaramillo

In [5]:
train = df_100[0:99]
users_info = df_100[99:]
users_info.reset_index(drop=True, inplace=True)

In [6]:
users_info

,User-ID,Age,ISBN,Book-Rating,AgeGroup,Book-Title,Book-Author
0,101606,32.0,425163091,6,Midle-Age (31-60),Chocolate Jesus,Stephan Jaramillo

In [7]:
def recommend_me_books(train, user_info):
    #user_info = pd.DataFrame(user_info).T
    user = user_info['User-ID'].values[0]
    top_5 = df[(df['first_User_ID'] ==user) | (df['second_User_ID'] ==user)].sort_values("cosine_similarity",ascending=False).head(5)  

    ## USERS
    first_User_ID_lst = list(top_5['first_User_ID'])
    second_User_ID_lst = list(top_5['second_User_ID'])

    first_User_ID_lst.extend(second_User_ID_lst)

    all_users_lst = list(set(first_User_ID_lst))

    all_users_lst.remove(user)

    age_group = user_info['AgeGroup'].values[0]

    books_user_has_read = list(train[train["User-ID"]==user]['Book-Title'])

    books_similar_users_to_the_user_have_read  =list(train[(train["User-ID"].isin(all_users_lst)) & (train["AgeGroup"] == age_group)]['Book-Title'])

    for book in books_user_has_read:
        if book in books_similar_users_to_the_user_have_read:
            books_similar_users_to_the_user_have_read.remove(book)
    return books_similar_users_to_the_user_have_read

In [8]:
recommend_me_books(train, users_info)

['Decision in Normandy', 'Chocolate Jesus']